/* Reset list dots */
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Page */
body{
    font-family: Arial, Helvetica, sans-serif;
    background:white;
    color:#444;
    margin:0;
}

/* Header */
header{
    text-align:center;
    padding:25px;
    background:#ffd6ec;
    border-bottom:3px solid #bde0fe;
}

header h1{
    color:#ff6fa5;
    font-size:2.4rem;
}

/* Layout */
main{
    padding:40px;
}

.main-area{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    gap:40px;
}

/* Containers */
.form-container,
.calendar-container{
    background:#f9fbff;
    padding:25px;
    border-radius:12px;
    box-shadow:0 4px 12px rgba(0,0,0,0.08);
}

/* Fixed Form width */
.form-container{
    flex:0 0 300px;
}

/* Fixed Calendar width */
.calendar-container{
    flex: 1;
}

/* Form title */
form h2{
    margin-bottom:15px;
    color:#6fa8ff;
    text-align:center;
}

/* Form fields */
.form-group{
    margin-bottom:15px;
    display:flex;
    flex-direction:column;
}

label{
    margin-bottom:5px;
    font-size:0.9rem;
}

/* Inputs */
input[type="text"],
input[type="time"]{
    padding:8px;
    border-radius:6px;
    border:1px solid #d6e6ff;
    background:white;
}

input:focus{
    outline:none;
    border-color:#ff9ecf;
}

/* Checkbox group */
.checkbox-group{
    display:flex;
    flex-direction:column;
    gap:8px;
}

.checkbox-group label{
    display:flex;
    align-items:center;
    gap:8px;
}

/* Button */
button{
    padding:10px;
    border:none;
    border-radius:8px;
    background:#ff9ecf;
    color:white;
    font-weight:bold;
    cursor:pointer;
    transition:0.2s;
}

button:hover{
    background:#6fa8ff;
}

/* Month header */
.month{
    justify-content:space-between;
    text-align: center;
    font-size: 30px;
    align-items:center;
    margin-bottom:15px;
    color:#ff6fa5;
    font-weight:bold;
}

/* Weekdays */
.weekdays{
    display:grid;
    grid-template-columns:repeat(7,1fr);
    margin-bottom:10px;
}

.weekday{
    text-align:center;
    color:#6fa8ff;
    font-weight:bold;
}

/* days */
.days{
    display:grid;
    grid-template-columns:repeat(7,1fr);
    gap: 10px;
}

.day{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:8px;
    height:400px;
    border-radius:15px;
    background:white;
    border:1px solid #e6ecff;
    cursor:pointer;
    transition:0.2s;
}

.day-label {
  display: block;
  width: 100%;
  margin-bottom: 8px;
  font-weight: bold;
  color: #6fa8ff;
  text-align: center;
}

.day:hover{
    background:#ffd6ec;
}

.course-card {
  width: 100%;
  background: #eaf4ff;
  border: 1px solid #bde0fe;
  border-radius: 6px;
  margin-bottom: 8px;
  padding: 6px;
  font-size: 0.85rem;
  color: #224a68;
  text-align: center;
}

.courseDropdown,#courseDetailDropdown{
    min-width: 10px;
    padding: 10px;
}

/* Applied when two classes overlap */
.conflicting {
    border-color: red;
}
